#Wrapper
	max-width 1096px
.preliminary-information .content
	margin-left 20em
.sidebar
	width 20em

	
@media only screen and (max-width: 64em)
	#Wrapper
		max-width 55em
	.preliminary-information .content
		margin-left 0
	.sidebar
		width 20em
		position fixed
		top 0
		left -20em
		background #ccc
		transition all .4s ease-out
		box-shadow 7px 0px 13px -3px rgba(0,0,0,0.3)
		a
			font-size 1.3em
		label
			display inline-block
			position absolute
			top .3em
			right -1.4em
			padding .3em
			font-size 1.5em
			background #ccc
			box-shadow 7px 0px 13px -3px rgba(0,0,0,0.3)
	#DrawerToggle:checked + .sidebar
		left 0
	
@media only screen and (max-width: 30em)
	.content
		font-size 1em



.preliminary-information.tasks .content
	margin-left 0