.sidebar
	display block
	float left
	height 100%
	box-sizing border-box
	padding 1em
	ul, li
		list-style none
		padding 0
		margin-left 0
	li
		margin-left .6em
	a
		text-decoration none
		color #4E4E4E
		display inline-block
		padding-bottom .2em
		padding-top .2em
		&:link,&:visited,&:active
			color #4E4E4E
		&:before
			content:''
			display inline-block
			width 8px
			height 8px
			background #bbb
			border-radius 4px
			margin-right .2em
			margin-bottom .1em
			transition all .5s ease-out
		i
			margin-right .2em
			transition all .5s ease-out
		&.home
			&:before
				content none
		&.active
			color black
		&.active, &:hover
			text-decoration none
			&:before
				background highlightColor
				transition all .2s ease-out
			i
				color highlightColor
				transition all .2s ease-out
				
.folder
	>a
		i
			&:before
				content '+'
				background transparent
				font-size 1.2em
				font-weight bold
			&.open
				&:before
					content '-'
		&:before
			content none
	ul
		display none
	
	ul.open
		display block