.table
	position relative
	max-height 600px
	width 100%
	overflow auto
	margin-top 1em
	box-shadow 0px 0px 10px 0px rgba(0,0,0,0.3)
	
table
	//box-shadow inset 0px 0px 5px 2px rgba(0,0,0,0.75)
	font-size .8em
	//max-width 100%
	//table-layout fixed
	//width 100%
	//white-space nowrap

td,th
	padding .4em
	min-width 7em
	//overflow hidden
	//text-overflow ellipsis

.sortable
	th
		position relative
		padding-left 1.5em
		&:after
			content ''
			position absolute
			left .5em
			display inline-block
			color white
			font-family: FontAwesome;
			font-feature-settings: normal;
			font-kerning: auto;
			font-language-override: normal;
			font-size: inherit;
			font-size-adjust: none;
			font-stretch: normal;
			font-style: normal;
			font-synthesis: weight style;
			font-variant: normal;
			font-weight: normal;
			line-height: 1;
			text-rendering: auto;
			transform: translate(0px, 0px);
			
th
	padding .4em 
	&.headerSortUp
		&:after
			content ''
			color black
	&.headerSortDown
		&:after
			color black

thead
	tr
		background #999
		color #fdfdfd
tbody
	tr:nth-child(odd)
		background #ccc
		
ul
	margin-left 0
	padding-left 1em

li
	margin-bottom .3em
	
li, li li, li li li, li li li li
	list-style-type disc