table
	width 100%
	margin-top 1em
	
td,th
	padding .3em
thead
	tr
		background #999
		color #fdfdfd
tbody
	tr:nth-child(odd)
		background #ccc
		
ul
	margin-left 0
	padding-left 1em
	
li, li li, li li li, li li li li
	list-style-type disc