include ../../../templates/mixins

+section('index.md')
+listDir(true)
+section('vocabulary-and-quick-definitions/databases')
+section('vocabulary-and-quick-definitions/hosting-platforms')
+section('vocabulary-and-quick-definitions/server-side-technologies')