mixin body()
	include mixins
	include helpers
	- var body = yield;
	- body = setSymbols(body)
	- body = body.replace(/(<table.*?>)/g,'<div class="table">$1').replace(/<\/table>/g,'</table></div>');
	- body = body.replace(/\[(\#+|\.)\]/g,function(t,s){return '<div class="bar bar-'+(s=='.'?'0':s.length)+'""><div class="bar-inner"></div></div>'})
	- body = body.split(/\n|\r/g)
	each line in body
		!=line.replace(/\[\[(\w*?)\((.*?)\)\]\]/g,function(a,f,args){args=unescape(args);eval(f+'_mixin('+args+');');return '';})+'\n'