include ../../templates/env

section(id="/0")
	:markdown
		# Images Talk

		*Images Talk* (codename) is an archiving system & public-facing website for the Arab Image Foundation.

		Before tackling the project, a certain amount of research has to be done.

		The present document explain the ins and outs of this research.

	small (this doc can be viewed as a 
		a(href=rootPath+'/research/?asPresentation') presentation
		|  or a 
		a(href=rootPath+'/research') regular document
		| )
	:markdown
		[↓](#/0/1)

section(id="/0/1")
	:markdown
		# Purpose of this Document

		The AIF needs an overhaul of their archiving system as well as a user-facing website.

		Before starting the actual project, a one month research is in order, in order to tailor the project to requirements.

section(id="/0/1")
	:markdown
		# Why

		The AIF project:

		- has an complex hierarchy of interconnected data sets
		- and a (relatively) small budget

		In order to produce a maintainable product, a thorough study would allow us to
		make sure we're planning a viable path.

section(id="/0/2")
	:markdown
		# High-Flight Overview

		The project is broken down in four tiers:

		1. Tier I: Research
		2. Tier II: Development
		3. Tier III: Testing
		4. Tier IV: Delivery

section(id="/0/3")
	:markdown
		# Tier I

		The current document focuses entirely and uniquely on Tier I, which prepares the other tiers.
