section(id="/3")
	:markdown
		# End Result

		At the end of the allocated period, we will have a rather defined goal and a rather clear path,
		as well as a specification document to serve as a guide all throughout development.


section(id="/3/1")
	:markdown

		All comments and question can be directed to [jad@synclop.com](mailto:jad@synclop.com)
		
		# Thank you!


